header {
  font-size: 12px;
  padding: 10px 0;
}

.text-height {
  line-height: 10px;
}

main {
  text-align: center;
}

#intuit-logo {
  width: 180px;
  height: auto;
}

.img-icons {
  width: 120px;
  height: auto;
  padding: 10px;
}

.container {
  border: 0.5px solid black;
  width: 400px !important;
}

#form-heading {
  font-size: 26px;
  padding-top: 10%;
}

#signup-form {
  padding: 5%;
}

.form-group {
  text-align: left;
}

#email,
#phone,
#password {
  width: 95%;
}

#user-agreement {
  font-size: 14px;
  font-style: italic;
}

#section-footer {
  font-size: 12px;
  background-color: rgb(221, 220, 220);
}

#footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
}
